<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org ">
    <head>
        <title> plantilla </title>
        <meta charset="UTF-8"/>
         </head>
    <body>
        <header th:fragment="header">
            
            <h1> control de clientes</h1>
            
            
        </header>
        
        <footer th:fragment="footer"> Derechos reservados
            <a href="https://www.youtube.com/watch?v=IwnIxk8DdHs" target="_blank">youtube</a>
        
        </footer>
    </body>
</html>
