<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>SIGBI</title>
        <!-- seleccion de icono local-->
        <link th:href="@{/assets/favicon.ico}"   rel="icon" type="image/x-icon"  />
        <!-- iconos de redes sociales-->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/index-styles.css}" rel="stylesheet" />
        <script type="text/javascript" th:src="@{/js/newjavascript.js}"></script>
        
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav
            class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top"
            id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top">SIstema de Gestion de BIbliotecas</a>
                <button
                    class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded"
                    type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                    Menu <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">


                        <li class="nav-item mx-0 mx-lg-1"><a
                                class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">About</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a
                                class="nav-link py-3 px-0 px-lg-3 rounded" href="#portfolio">portfolio</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a
                                class="nav-link py-3 px-0 px-lg-3 rounded" href="login">Logout</a></li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead bg-warning text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg"
                     alt="..." />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">BIENVENIDO A SIGBI</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Gestiona y administra los activos de 
                    tu libreria</p>
            </div>
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            
            
            
            <div class="container">
                
                
                
                <!-- Portfolio Section Heading-->
                <h2
                    class="page-section-heading text-center text-uppercase text-secondary mb-0">FUNCIONES</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>

                <!-- Portfolio Grid Items-->

                <div class="row justify-content-center">


                    <!-- Portfolio Item 1-->





                    <div class="col-md-6 col-lg-4 mb-5">

                        <div class="portfolio-item mx-auto" 
                             data-bs-target="#portfolioModal1">
                            <div 
                                class="portfolio-item-caption">
                            </div>


                            <a th:href="@{/leer_books}" >


                                <img class="img-fluid" src="assets/img/portfolio/1.jpg"
                                     alt="..." />

                            </a>



                        </div>
                    </div>













                    <!-- Portfolio Item 2-->



                    <div class="col-md-6 col-lg-4 mb-5">

                        <div class="portfolio-item mx-auto" 
                             data-bs-target="#portfolioModal1">
                            <div
                                class="portfolio-item-caption">
                            </div>



                            <a href="llenar_books" >


                                <img class="img-fluid" src="assets/img/portfolio/2.jpg"
                                     alt="..." />

                            </a>





                        </div>
                    </div>


                    <!-- Portfolio Item 3-->




                    <div class="col-md-6 col-lg-4 mb-5">

                        <div class="portfolio-item mx-auto" 
                             data-bs-target="#portfolioModal1">
                            <div
                                class="portfolio-item-caption">
                            </div>
                            
                            <a href="llenar_usu" >


                                <img class="img-fluid" src="assets/img/portfolio/4.jpg"
                                     alt="..." />

                            </a>
                            
                            
                        </div>
                    </div>



                    <!-- Portfolio Item 4-->



                    <div class="col-md-6 col-lg-4 mb-5">

                        <div class="portfolio-item mx-auto" 
                             data-bs-target="#portfolioModal1">
                            <div
                                class="portfolio-item-caption">
                            </div>
                            
                            <a th:href="@{/leer_usu}" >


                                <img class="img-fluid" src="assets/img/portfolio/3.jpg"
                                     alt="..." />

                            </a>
                            
                            
                         </div>
                        
                    </div>
                    
                </div>
                </div>



                    </section>
        
        
                    <!-- About Section-->
                    <section class="page-section bg-primary text-white mb-0" id="about">
                        <div class="container">
                            <!-- About Section Heading-->
                            <h2
                                class="page-section-heading text-center text-uppercase text-white">About</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom divider-light">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- About Section Content-->
                            <div class="row">
                                <div class="col-lg-4 ms-auto">
                                    <p class="lead">Somos una empresa lider en la industria 4.0 conocida
                                        como la cuarta revolucion industrial te ayudamos la transición hacia nuevos
                                        sistemas que están construidos sobre la infraestructura de la revolución digital </p>
                                </div>
                                <div class="col-lg-4 me-auto">
                                    <p class="lead">mejora de la productividad, la eficiencia y la calidad en los procesos, 
                                        de la seguridad para los trabajadores al reducirse los empleos en entornos peligrosos, 
                                        de la toma de decisiones al contar con herramientas que nos permiten basarlas en datos</p>
                                </div>
                            </div>

                        </div>
                    </section>


                 <section id="contacto">
                    <footer class="footer text-center">
                        <div class="container">
                            <div class="row">
                                <!-- Footer Location-->
                                <div class="col-lg-4 mb-5 mb-lg-0">
                                    <h4 class="text-uppercase mb-4">Ubicacion</h4>
                                    <p class="lead mb-0">
                                        Calle MisionTic # 20-22 <br /> Bogotá Colombia
                                    </p>
                                </div>
                                <!-- Footer Social Icons-->
                                <div class="col-lg-4 mb-5 mb-lg-0">
                                    <h4 class="text-uppercase mb-4">Nuestras redes sociales</h4>
                                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i
                                            class="fab fa-fw fa-facebook-f"></i></a> <a
                                        class="btn btn-outline-light btn-social mx-1" href="#!"><i
                                            class="fab fa-fw fa-twitter"></i></a> <a
                                        class="btn btn-outline-light btn-social mx-1" href="#!"><i
                                            class="fab fa-fw fa-linkedin-in"></i></a> <a
                                        class="btn btn-outline-light btn-social mx-1" href="#!"><i
                                            class="fab fa-fw fa-dribbble"></i></a>
                                </div>
                                <!-- Footer About Text-->
                                <div class="col-lg-4">
                                    <h4 class="text-uppercase mb-4">Contacto</h4>
                                    <p class="lead mb-0">
                                        01-8000-8000
                                        </br>
                                        sigbi_lib@sigbi.com
                                    </p>
                                </div>
                            </div>
                        </div>
                    </footer>
                     </section>
                    <!-- Copyright Section-->
                    <div class="copyright py-4 text-center text-white">
                        <div class="container">
                            <small>Copyright &copy; SIGBI 2022</small>
                        </div>
                    </div>

                    </body>
                    </html>
