<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org ">
    <head>
        <title>datos de la persona</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>

        <header th:replace="plantilla/layer :: header"> </header>
   
      <h1>datos de la persona</h1>
        <a th:href="@{/}">Regresar</a>
        <!-- asosciar el objeto persona a el html con th:objet -->
        <form th:action="@{/guardar}" method="post" th:object="${book}">

            <input type="hidden" name="usuario_id" th:field="*{book_id}">

            <label for="nombre">usuario_name</label>
            <input name="nombre" type="text" th:field="*{book_name}"/> 
            <br/>

            <label for="autor">usuario_apellido</label>
            <input name="autor" type="text" th:field="*{author}"/> 
            <br/>
            <label for="cant">usuario_ocu:</label>
            <input name="cant" type="text" th:field="*{cantidad}"/>
            <br/>

            <input type="submit" name="guardar" value="guardar"/>
            <br/>




        </form>

       
        <br/>
        <footer th:replace="plantilla/layer :: footer"> </footer>
    </body>
</html>
